h2{
    color: yellow;
    text-align: center;
}
.row{
   
    text-align: center;
    margin-left: -190px;
}
.Enter{
    font-size: larger;

    margin-left: 10%;
   
}
.Input{
    margin-left: 35%;
    width: 40%;
    border-radius: 5px;
    margin-top: 20px;
}
.button{
    width: 10%;
    height: 30px;
    margin-left: 9px;
    margin-top: 20px;
}

.fg_pass{
    margin-bottom: 359px;


    width: 40%;
    height: 350px;
    margin: 100px 0 20% 30%;
}
/* .Left{
    height: 20%;
    background: url('../../../assets/dribbble.jpg') no-repeat center ;

} */
.title .h2{
    text-align: center;
   
}
.title{
    display: flex;
}

